..0login
{
width:1440px;
height:897px;
padding:0px;
display:flex;
flex-direction:column;
flex-wrap:nowrap;
align-items:center;
justify-content:center;
position:relative;
background-color:#ffffff;
}
.vector
{
width:1678.799072265625px;
height:1388.95458984375px;
}
.registrationform
{
align-self:flex-start;
left:448px;
top:101px;
position:absolute;
width:544px;
height:625.8181762695312px;
padding:0px;
display:flex;
flex-direction:column;
gap:24px;
}
.airvendlogo1
{
width:211.11111450195312px;
height:51.818180084228516px;
padding:0px;
left:166.44px;
position:relative;
background-color:#ffffff;
}
.removedlogobackground-011
{
width:215.62376403808594px;
height:73.69882202148438px;
}
.registrationform2
{
width:544px;
height:550px;
border-radius:12px;
padding-left:95px;
padding-right:95px;
padding-top:78px;
padding-bottom:78px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
gap:10px;
position:absolute;
background-color:#ffffff;
top:75.81px;
left:0px;
}
.frame143
{
align-self:flex-start;
left:95px;
top:78px;
position:absolute;
width:354px;
height:394px;
padding:0px;
display:flex;
flex-direction:column;
gap:24px;
}
.group189
{
width:173.375px;
height:63px;
top:0px;
left:90.31px;
position:absolute;
}
.logintoyouraccount
{
text-align:center;
vertical-align:text-top;
font-size:16px;
font-family:Rubik;
left:90.31px;
top:42px;
width:163px;
height:21px;
position:absolute;
line-height:132.00000524520874%;
color:#444444;
}
.welcomeback!
{
text-align:center;
vertical-align:text-middle;
font-size:24px;
font-family:Rubik;
left:91.68px;
width:172px;
height:32px;
position:absolute;
line-height:132.00000524520874%;
color:#000000;
}
.frame142
{
width:354px;
height:307px;
padding:0px;
display:flex;
flex-direction:column;
gap:43px;
top:87px;
position:relative;
}
.frame140
{
width:354px;
height:216px;
padding:0px;
display:flex;
flex-direction:column;
}
.textinput
{
width:354px;
height:98px;
padding:0px;
background-color:#ffffff;
}
.master/text-input
{
width:354px;
height:98px;
padding:0px;
background-color:#ffffff;
position:absolute;
}
.normal
{
border-radius:8px;
width:354px;
height:48px;
background-color:#9a9fbf;
}
.value:
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Rubik;
line-height:100px;
color:#161616;
left:16px;
top:43px;
position:absolute;
}
.label:
{
text-align:left;
vertical-align:text-bottom;
font-size:14px;
font-family:Rubik;
top:2px;
width:325px;
height:17px;
position:absolute;
line-height:120.00000476837158px;
color:#9b9b9b;
}
.frame1121
{
width:202px;
height:81.47898864746094px;
left:286px;
position:absolute;
}
.textinput2
{
width:354px;
height:98px;
padding:0px;
background-color:#ffffff;
}
.master/text-input2
{
width:354px;
height:98px;
padding:0px;
background-color:#ffffff;
position:absolute;
}
.normal2
{
border-radius:8px;
width:354px;
height:48px;
background-color:#9a9fbf;
}
.value:2
{
text-align:left;
vertical-align:text-top;
font-size:16px;
font-family:Rubik;
line-height:100px;
color:#161616;
left:16px;
top:43px;
position:absolute;
}
.uiicons
{
width:20px;
height:20px;
padding:0px;
background-color:#ffffff;
left:318px;
top:41px;
position:absolute;
}
.vector-stroke
{
width:6.666666507720947px;
height:6.666666507720947px;
left:6.66px;
top:6.66px;
width:6.666666507720947px;
height:6.666666507720947px;
position:absolute;
}
.vector-stroke2
{
width:17.56999969482422px;
height:13.333331108093262px;
left:1.21px;
top:3.33px;
width:17.56999969482422px;
height:13.333331108093262px;
position:absolute;
}
.label:2
{
text-align:left;
vertical-align:text-bottom;
font-size:14px;
font-family:Rubik;
top:2px;
width:325px;
height:17px;
position:absolute;
line-height:120.00000476837158px;
color:#9b9b9b;
}
.frame11212
{
width:202px;
height:81.47898864746094px;
left:286px;
position:absolute;
}
.frame139
{
width:354px;
height:20px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:space-between;
align-items:center;
position:relative;
}
.checkbox
{
align-self:flex-start;
left:120px;
position:absolute;
width:114px;
height:20px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
background-color:#ffffff;
}
.master/checkbox
{
width:114px;
height:20px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:center;
gap:12px;
position:relative;
background-color:#ffffff;
}
.controls/checkbox/checked
{
width:20px;
height:20px;
padding:0px;
background-color:#ffffff;
}
.fillcolor
{
opacity:0.07999999821186066;
border-radius:4px;
width:20px;
height:20px;
background-color:#848484;
border:0px solid #969696;
}
.check4
{
width:8.0000581741333px;
height:6.6667375564575195px;
left:6px;
top:7px;
position:absolute;
}
.rememberme
{
text-align:left;
vertical-align:text-top;
font-size:12px;
font-family:Rubik;
align-self:flex-start;
left:32px;
top:2px;
position:absolute;
line-height:132.00000524520874%;
color:#13113f;
}
.frame141
{
width:354px;
height:48px;
padding:0px;
display:flex;
flex-direction:column;
top:259px;
position:relative;
}
.button
{
width:354px;
height:48px;
padding:0px;
display:flex;
flex-direction:row;
justify-content:flex-start;
align-items:flex-start;
position:relative;
background-color:#ffffff;
}
.master/button
{
width:354px;
height:48px;
border-radius:8px;
padding-left:32px;
padding-right:32px;
padding-top:16px;
padding-bottom:16px;
display:flex;
flex-direction:row;
justify-content:center;
align-items:center;
gap:10px;
position:relative;
background-color:#4834d4;
border:1px solid rgba(155, 155, 155, 0.20000000298023224);
}
.button3
{
text-align:center;
vertical-align:text-middle;
font-size:16px;
font-family:Rubik;
align-self:flex-start;
left:155px;
top:16px;
position:absolute;
line-height:100px;
color:#ffffff;
}
